<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="initialLogLevel" value="Debug" />
	<extensions>
		<add assembly="VIBN_Tools" />
	</extensions>
	<targets>
		<target name="Logfile" xsi:type="File"
				fileName="${specialfolder:folder=LocalApplicationData}/GROB/VIBN_Tools/Logs/vibn-tools-${shortdate}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				archiveDateFormat="yyyyMMdd"
				maxArchiveFiles="14">
			<!--Specify date format and define that the class name (${logger} attribute) is printed only on Debug level-->
			<layout>${date:format=yyyy-MM-dd HH\:mm\:ss} | ${level} | ${when:when='Debug'=='${var:initialLogLevel}':inner=${logger} |} ${message} ${when:when='${exception:format=Message}'!='':inner=| ${exception:format=Message}}</layout>
		</target>
		<target name="DebugOutput" xsi:type="OutputDebugString" />
		<target name="DebuggerOutput" xsi:type="Debugger" />
		<target name="CustomLog" xsi:type="CustomLogger">
			<layout>${date:format=yyyy-MM-dd HH\:mm\:ss} | ${message}</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="DebugOutput,DebuggerOutput" />
		<logger name="*" minlevel="${var:initialLogLevel}" writeTo="Logfile" />
		<logger name="*" minlevel="Info" writeTo="CustomLog" />
	</rules>
</nlog>
